*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.navbar {
    background-color: rgb(66, 189, 198);
    font-family: sans-serif;
}

.search-form {
    margin-top: 20px;
    margin-bottom: 20px;
}

.card-text {
    font-size: 16px;
    margin-top: 10px;
}

.card-description {
    font-size: 15px;
}

.card-title {
    font-size: 22px;
}